div.row
	div.col-xs-3
		| Total
	div.col-xs-3.text-right. total_tor 
		| #{data.total_torrents}
	div.col-xs-6
		button.btn.btn-success.btnTransPlay(type="button")
			span.glyphicon.glyphicon-play
		button.btn.btn-danger.btnTransStop(type="button")
			span.glyphicon.glyphicon-stop
div.row
	div.col-xs-3
		| Active
	div.col-xs-3.text-right. active_tor 
		| #{data.active_torrents}
	div.col-xs-6
		| &nbsp;
</div>
div.row
	div.col-xs-3
		| Seeding
	div.col-xs-3.text-right. seeding_tor 
		| #{data.seeding_torrents}
	div.col-xs-6
		| &nbsp;
</div>
div.row
	div.col-xs-3
		| Downloading
	div.col-xs-3.text-right. down_tor 
		| #{data.downloading_torrents}
	div.col-xs-6
		| &nbsp;
script(type="text/javascript").
	function callbackTransmissionFunc(data)
	{
		$('##{user_widget.id_html} .panel-body').html(data);
	}

	$(document).ready(function () {
		$('##{user_widget.id_html} .btnTransPlay').click(function () {
		$.sendPostDataToWidget(socket, #{user_widget.id}, '#{sid}', { sta: true });
		});

		$('##{user_widget.id_html} .btnTransStop').click(function () {
			$.sendPostDataToWidget(socket, #{user_widget.id}, '#{sid}', { sto: true });
		});

		setTimeout(function () {
			$.startUpdatingWidgetHtml(socket, #{user_widget.id}, '#{sid}', callbackTransmissionFunc, null);
		}, #{user_widget.widget.updatetime});
	});