div.row
	div.col-xs-3
        | CPUs
	div#cpus.col-xs-3
        | #{data.cpus}
	div.col-xs-3
        | Cores
	div#cores.col-xs-3
        | #{data.cores}
div.row
	div.col-xs-3
        | Sockets
	div#sockets.col-xs-3
        | #{data.sockets}
	div.col-xs-3
        | Nodes
	div#nodes.col-xs-3
	    | #{data.nodes}
div.row
	div.col-xs-6
        | Model
	div#model.col-xs-6
	    | #{data.processor}
div.row
	div.col-xs-6
        | Frequency
	div#freq.col-xs-6
	    | #{data.frequency} MHz
div.row
	div.col-xs-6
        | Load
	div#cpuload.col-xs-3
	    | #{data.cpuload} %
	div#cpuload_percent.col-xs-3
		div.progress
			div.progress-bar.progress-bar-danger(style="width: " + data.cpuload + "%",aria-valuenow=data.cpuload,role="progressbar",aria-valuemin="0",aria-valuemax="100")
div.row
	div.col-xs-6
        | Temperature
	div#cpu_temperature.col-xs-6
	    | #{data.cpu_temperature} &deg;C
script(type="text/javascript").
	function callbackCPUFunc(data)
	{
		$('#cpus').html(data.cpus);
		$('#cores').html(data.cores);
		$('#sockets').html(data.sockets);
		$('#nodes').html(data.nodes);
		$('#model').html(data.processor);
		$('#frequency').html(data.frequency + ' MHz');
		$('#cpuload').html(data.cpuload + ' %');
		$('#cpuload_percent .progress div').css({ width: data.cpuload + '%' }).prop('aria-valuenow', data.cpuload)
		$('#cpu_temperature').html(data.cpu_temperature + '&deg;C');
	}
	
	function timeoutCPUFunc()
	{
	    $.startUpdatingWidgetJson(socket, #{user_widget.id}, '#{sid}', callbackCPUFunc, null);
	}
	
	$(document).ready(function () {
		setTimeout(timeoutCPUFunc, #{user_widget.widget.updatetime});
	});
